.menuCSS3 ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menuCSS3 a {
    display: block;
    padding: 1em;
    background-color: rgb(10, 94, 97);
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    height: 30px;
}
.menuCSS3 a:hover {
    background-color: rgb(179, 240, 230);
    font-weight: bold;
    color: rgb(143, 54, 54);
}
.menuCSS3 ul li ul {
    display: none;
}
.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
    display: block;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: rgb(28, 38, 97);
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

.tabla table{
    margin: auto;
    border: 2px solid #047a66;
    border-collapse: collapse; 
  }
  .tabla td{
    border: 1px solid #047a66;
    padding: 1rem;
  }
  .tabla thead{
    background-color: #047a66;
    color: white;
    font-style: initial;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold ;
  }

  .tabla tbody td:first-child{
    background-color: #95bbb5;
    color: black;
    font-style: initial;
    font-weight: bold ;
  }